header {
  background-image: linear-gradient(115deg, #001eab, #1434c6, #214ae2, #2b60ff); }

.subtitle {
  color: #214ae2; }

.pager-index .next-link:hover {
  color: #214ae2; }

.pager-index .prev-link:hover {
  color: #214ae2; }

.all-tag-list li:hover {
  background: #214ae2;
  border: 1px solid #214ae2; }
  .all-tag-list li:hover a,
  .all-tag-list li:hover span {
    color: #fff;
    z-index: 1; }

.archive-posts .post-title a:hover {
  color: #214ae2; }
  .archive-posts .post-title a:hover time {
    color: #214ae2; }

.post-title a {
  color: #292929; }
  .post-title a:hover {
    color: #214ae2; }

.main-tags .current-tag .tag-name {
  background: #214ae2;
  border: 1px solid #214ae2; }

.post-header-menu a:hover {
  color: #214ae2; }

.top-inner .tag-list a:hover {
  color: #fff;
  background: #214ae2;
  border: 1px solid #214ae2; }

.bottom-inner a {
  color: #214ae2; }
  .bottom-inner a:hover {
    text-decoration: underline; }

.connect-inner a:hover {
  background: #214ae2; }

.recent-posts .tag-list-item a:hover {
  color: #214ae2; }
