footer {
  text-align: center;
  padding: 40px 0 60px;
  
  .connect-inner {
    margin-bottom: 30px;
    
    a {
      display: inline-block;
      margin: 0 6px;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background: $color-text;

      i {
        display: inline-block;
        font-size: 23px;
        margin-top: 10px;
        color: #fff;
      }

      .icon-twitter {
        margin-left: 1px;
      }

      .icon-github {
        margin-top: 10px;
      }
    }
  }

  .bottom-inner {
    font-size: 14px;
    color: $color-text-gray;
    
    .theme {
      margin-bottom: 10px;
    }
  }
}