header {
  margin: 100px 0 100px 0; 
  text-align: center;

  .home-title-content {
    display: inline-block;
    position: relative;
    margin-bottom: 100px;
  }
  
  .title {
    display: inline-block;
    font-size: 45px;
    font-weight: 700;
    color: $color-text;
  }

  .subtitle {
    display: inline-block;
    font-weight: bold;
    font-size: 44px;
    color: $color-theme;
  }

  .menu-inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 520px;

    a {
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px;
      color: $color-text;

      &:hover {
        color: $color-theme;
      }
    }
  }
}