header {
  margin-bottom: 60px;
  color: white;
  
  .title {
    display: inline-block;
    font-size: 72px;
    font-weight: 700;
    color: $color-text;
    color: white;
  }
 
  .desc {
    margin-top: 10px;
    opacity: 0.8;
    color: white;
    font-size: 16px;
  }

  .subtitle {
    display: inline-block;
    font-weight: bold;
    font-size: 44px;
  }

  .menu-inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 520px;

    a {
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px;
      color: $color-text;
      color: white;
    }
  }
}

@media screen and (min-width: 600px) {
  header {
    text-align: center;
  }
  
  .home-title-content {
    display: inline-block;
    position: relative;
    margin: 100px 0 140px 0;
  }

  .header-menu {
    padding: 5px 10px 0 10px;
    line-height: 35px;

    .left {
      font-size: 16px;
      float: left;
    }

    .right {
      float: right;
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 55px;
    z-index: 999;
  }

  .home-title-content {
    display: none;
  }

  .header-menu {
    .left {
      display: block;
      padding-bottom: 5px;
      font-size: 13px;
    }
  }
}

.header-menu {
  padding: 10px 15px 0 15px;
  height: 35px;
  color: $color-text;

  .right {
    letter-spacing: 1px;
    font-size: 14px;
  }

  a {
    color: white;
    margin-left: 7px;
    font-weight: bold;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      color: $color-header-hover;
    }
  }
}