.main-tags {
  .all-tags,
  .current-tag,
  .posts-list {
    .title {
      font-size: 18px;
      font-weight: bold;
      color: $color-text;
      margin-bottom: 15px;
    }
  }

  .current-tag {
    .tag-name {
      display: inline-block;
      margin-bottom: 25px;
      padding: 8px 12px 8px 12px;
      background: $color-theme;
      color: #fff;
      font-size: 16px;
      border-radius: 10px;
      border: 1px solid $color-theme;
    }
  }

  .archive-posts {
    .archive-post-item {
      border-bottom: 1px solid $color-border-light;
    }

    .post-title, time {
      font-size: 20px;
    }

    .post-title {
      a {
        display: block;
        padding: 20px 0;
        color: $color-text;

        &:hover {
          color: $color-theme;

          time {
            color: $color-theme;
          }
        }
      }
    }

    time {
      color: $color-text;
      float: right;
      font-style: italic;
    }

    @media screen and (max-width: 450px) {
      time {
        display: none;
      }
    }
  }
}