<% if(theme.disqus){ %>
  <div class="post-comment-wrapper">
<!--      <div id="disqus_thread"></div>-->
<!--      <div class="utterances"></div>-->

      <script src="https://utteranc.es/client.js"
              repo="caijinyc/blog"
              issue-term="pathname"
              theme="github-light"
              crossorigin="anonymous"
              async>
      </script>

  </div>
<% } %>