<footer>
    <div class="bottom-inner">
      <p class="theme">Theme OSimple by Orbem</p>
      <p class="copyright">Copyright © 2018 <%= config.author %> & Powered by <a href="http://hexo.io">Hexo</a></p> 
    </div>
</footer>