<footer>
  <div class="connect-inner">
      <% Object.keys(theme.connect).forEach(function(key) { %>
        <a href="<%= url_for(theme.connect[key]) %>" target="_blank" class="<%= key %>">
          <i class="iconfont icon-<%= key %>"></i>
        </a>
      <% }); %>
  </div>
  <div class="bottom-inner">
    <p class="theme">Theme <a href="https://github.com/orbem/hexo-theme-osimple">OSimple</a> by Orbem</p>
    <p class="copyright">Copyright © 2018 <%= config.author %> & Powered by <a href="http://hexo.io">Hexo</a></p> 
  </div>
</footer>                                  