<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('_include/head.ejs', { title: null }) %>
</head>
<body>
  <%- include('_include/header.ejs', { title: null}) %>
  <main>
      <% include _include/recent_posts.ejs %>
      <% include _include/extra_nav.ejs %>
  </main>
  <%- partial('_include/footer.ejs', {}, { cache: true }) %>
</body>
</html>