@import "_all/reset.scss";
@import "_all/variable.scss";
@import "_all/iconfont.scss";
@import "_all/header.scss";
@import "_all/footer.scss";
@import "_all/page.scss";
@import "_all/tag.scss";
@import "_all/posts.scss";

body {
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
}

main,
footer {
  position: relative;
  margin: 0 auto;
  max-width: 700px;
}

main {
  min-height: 500px;
  margin-bottom: 20px;
}

.pager-index {
  position: relative;
  height: 20px;

  .next-link {
    position: absolute;
    right: 0;
    font-size: 16px;
    font-weight: bold;
    color: $color-text;
    letter-spacing: 1px;

    &:hover {
      color: $color-theme;
    }
  }
  
  .prev-link {
    position: absolute;
    left: 0;
    font-size: 16px;
    font-weight: bold;
    color: $color-text;
    letter-spacing: 1px;

    &:hover {
      color: $color-theme;
    }
  }
  
}

.all-tag-list {
  margin-bottom: 25px;

  li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 6px;
    list-style: none;
    border-radius: 10px;
    border: 1px solid $color-text;

    &:hover {
      background: $color-theme;
      border: 1px solid $color-theme;

      a,
      span {
        color: #fff;
        z-index: 1;
      }
    }

    a {
      display: inline-block;
      padding: 8px 12px 8px 12px;
      font-size: 14px;
      color: $color-text;
      text-align: justify;
    }

    span {
      position: relative;
      top: -3px;
      font-size: 13px;
      user-select: none;
    }
  }
}