#menu-outer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  height: 150px;
  padding-bottom: 50px;

  #menu-name {
    a {
      font-family: 'Open Sans', sans-serif, '微软雅黑';
      font-size: 0.45rem;
      font-weight: 800;
      color: $color-title;
      font-style: italic;
    }
  }

  #menu-inner {
    float: right;
    a {
      font-family: 'Open Sans', sans-serif, '微软雅黑';
      font-size: 18px;
      font-weight: 700;
      padding-left: 10px;
      color: $color-title;
      transition: all  1s;
      &:hover {
        color: $color-title-h;
      }
    }
  }
}